
<h1><pages>Welcome to Roughmart!</pages></h1>
<h3><pages>Woah!! you wanna talk !! then lets Talk !! As Usual The Basic "Roughmart is an online marketplace for buying and selling Fashion Designer Products" BUT 
What makes us special is YOU . Without your Great products we would just perish . This platform is for fashion designers to showcase thier products
WorldWide . Every Fashion designer wants to become "THE BRAND". Roughmart might just help you do that.</h3></pages> 
<h1><pages>NO WHERE , NO HOW , JUST SELL</h1></pages>
