// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner > .item >img{
  min-height : 400px;
  max-height : 300px;
  width : 100%;
}

.container{
  height:300px;
}

.video1{
        position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 500px;
  width: 100%;
  overflow: hidden;
  //width: 80%;
  //padding-left: 5%;
  //padding-right:5%;
  margin-bottom: 1px;
  margin-top:1px;
       }
	 
.video1 iframe,
.video1 object,
.video1 embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

}

video {
  object-fit: contain;
}	 
	
.video1:empty{
    display: none;
}

p:empty {
	display: none;
	}
    