<style>h1,p{
font-family: "Times New Roman", Times, serif;
}
</style>
<center>
<h1><%= @user.name %></h1>

<p class="title">CEO & Founder</p>
  <p><%= @user.email %></p>
  <p><%= @user.Biodata %></p></center>
  <p><%= @user.image %></p></center>